<DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="utf-8" />
      <title>Tienda en Django</title>
      <link rel="stylesheet" type="text/css" href="css/estilos.css" />
      <link rel="shortcut icon" href="favicon" />
    </head>
    <body>
      <header>
        <h1>Home de la página principal</h1>
        <h2>actividades desarrolladas</h2>
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Programas</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </nav>
      </header>
      <section>
        <article>
          <h2>Articulos</h2>
          <p>Aqui va el artículo</p>
          <img src="images/logo.png" />
        </article>
      </section>
      <footer>
        <h2>FOOTER</h2>
        <p>Aqui todo el contenido del footer</p>
      </footer>
    </body>
  </html></DOCTYPE
>
